ul li{
    list-style-type: none;
    display: inline;
}

a{
    display: inline-block;
    background-color: #01413A;
    padding: 10px;
    color: white;
    text-decoration: none;
}
p::selection
{
    color: white;
    background-color: black;
    
}